ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-radius: 5px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
    border-radius: 5px;
  }
  .menutitle {
    color: white;
    display: block;
    font-weight: bold;
    border: 2px solid #0b5ed7;
    margin-right: 15px;
    margin-left: 15px;
    font-family: 'Courier New', monospace;
    
  }

  .slist {
    margin-left: 50px;
    margin-top: 4px;

  }
  .selectlist {
    margin-top: 15px;
  }
  .btn {
    margin-top: 10px;
  }
  
