<nav>

        
        <ul>
        <div class="hiddenlist">
        <li class="menutitle"><a class="active">W8ZJT Calllog program</a></li>
        <li><a routerLink="/user/list" *ngIf="isAdmin">Users</a></li>
            <li><a routerLink="/logging/newlog/{{userId}}">Logging</a></li>
            </div>
            <div class="showlist">
            <li><div class="dropdown">
                <a class="dropbtn dropdown-toggle"     
                >Settings</a>
                  
                
                <div class="dropdown-content">
                
                  <a class="dropitem" routerLink="/settings/list/{{userId}}">User Settings</a>
                  <a class="dropitem" routerLink="/spots/config/{{userId}}">DX Cluster</a>
                  <a class="dropitem" href="#">Something else here</a>
                
                </div>
              </div></li>
              </div>
              <div class="hiddenlist2">
            <li><a routerLink="/radio">Radio</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/login">Login</a></li>
        </div>
        <div class="searchbar">
        <li class="slist">
            <button (click)="search()" class="btn btn-primary btn-sm">Search:</button>
        </li>
        <li class="inlinea">
            <a class="active"><input [(ngModel)]="searchCallsign" type="search"></a>
        </li>
        <li>
            <select class="selectlist" disabled="true">
                <option>Callsign</option>
                <option></option>
                <option></option>
            </select>
        </li>
        </div>
        <li class="lilogout">
        <div class="logout">
            
            <span><a (click)="logout()"routerLink="logout">Logout : {{username}}</a></span>
            
        </div>
    </li>
    </ul>
        

    

</nav>