<div id="component">
    <app-menu></app-menu>
    <header>
        
        <span id="pageTitle">{{pageTitle}}</span>
    </header>
    <main>
        <table class="table table-striped table-sm" *ngIf="user">
            <tbody>
                <tr>
                    <td>Id</td>
                    <td><input [(ngModel)]="user.id" readonly></td>
                </tr>
                <tr>
                    <td>Admin</td>
                    <td><input [(ngModel)]="user.isAdmin" readonly></td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td><input [(ngModel)]="user.firstName" readonly></td>
                </tr>
                <tr>
                    <td>Callsign</td>
                    <td><input [(ngModel)]="user.callsign" readonly></td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td><input [(ngModel)]="user.firstName" readonly></td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td><input [(ngModel)]="user.userName" readonly></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input [(ngModel)]="user.password" type="password" readonly></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input [(ngModel)]="user.email" readonly></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><input [(ngModel)]="user.address" readonly></td>
                </tr>
            </tbody>
        </table>
        <a routerLink="/user/list" class="btn btn-primary btn-sm">Back</a>
        <button (click)="delete()" class="btn btn-danger btn-sm">Delete</button>
        <button *ngIf="areYouSure" (click)="deleteVerified()" class="btn btn-danger btn-sm">ARE YOU SURE?</button>
        
    </main>
</div>