<app-menu></app-menu>
<header>
    <span id="pageTitle">{{pageTitle}}</span>
</header>

<table *ngIf="hamEn" class="table table-sm">
    <thead>
        <tr><th class="tablename">FCC Database</th></tr>
        <tr>
            <th>FCC ID</th>
            <th>Callsign</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{hamEn.fccid}}</td>
            <td>{{hamEn.callsign}}</td>
            <td>{{hamEn.fullName}}</td>
            <td>{{hamEn.address1}}</td>
            <td>{{hamEn.city}}</td>
            <td>{{hamEn.state}}</td>
            <td>{{hamEn.zip}}</td>
        </tr>
    </tbody>
</table>
<table *ngIf="hamEn" class="table table-sm">
    <thead>
        <tr><th class="tablename">User Database</th></tr>
        <tr>
            <th>FCC ID</th>
            <th>Callsign</th>
            <th>Frequency</th>
            <th>Band</th>
            <th>Mode</th>
            <th>Power</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let h of hamlogs">
            <td>{{h.fccId}}</td>
            <td>{{h.callsign}}</td>
            <td>{{h.frequency}}</td>
            <td>{{h.band}}</td>
            <td>{{h.mode}}</td>
            <td>{{h.power}}</td>
            <td>{{h.dateAndTime | date:'long'}}</td>
        </tr>
    </tbody>
    </table>
