.tableFixHead          { overflow: auto; height: 300px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: auto; table-layout: fixed; margin-left: 20px; }
th, td { padding: 2px 3px; }
th     { background:#eee; }
th a{ text-decoration: none; color: black; font-weight: bold;}
tr td {overflow-x: hidden; white-space: nowrap;}

 tr:nth-child(even) {
  background-color: #f2f2f2;
} 
#callsign {
  width: 75px;
}
#firstname {
  width: 75px;
}
#save {
  display: inline-block;
}
#WARN {
  color: red;
  font-weight: bold;
  font-size: 1.2em;
}
#success {
  color: rgb(38, 255, 0);
  font-weight: bold;
  font-size: 1.2em;
  font-style: italic;
  background-color: dimgray;
  padding: 5px;
  border-radius: 3px;
}
#searchResCount {
  color: red;
  margin-left: 20px;
  font-weight: bold;

}
#quantity {
  display: inline;
}
header {
  display: inline;
}
#searchbtn {
  margin-left: 20px;
}
#recordCount {
  font-weight: bold;
  margin-left: 5px;
}