
<app-menu></app-menu>
<header>
    <span id="pageTitle">{{pageTitle}}</span>
    <span id="searchResCount" *ngIf="!searching">{{searchResMessage}}</span>
</header>
<div class="tableFixHead">
<table *ngIf="user" class="table-fixed">
    <thead>
        
        
        <tr>
            <th><a (click)="selectColumn('id')" class=" btn btn-link">Id</a></th>
            <th>Callsign</th>
            <th>Name</th>
            <th>Frequency</th>
            <th>Band</th>
            <th>Mode</th>
            <th>Power</th>
            <th>State</th>
            <th>Zip</th>
            <th><a (click)="selectColumn('dateAndTime')" class=" btn btn-link">Date</a></th>
            <th>T-On</th>
            <th>T-Off</th>
            <th>RSTs</th>
            <th>RSTr</th>
            <th>FCC Id</th>
            <th>Comments</th>
            <th id="actionhead">Action</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody *ngIf="searching">
        <tr *ngFor="let h of hamlogs | sorthamlog:sortColumn:sortAsc">
            <td>{{h.id}}</td>
            <td>{{h.callsign}}</td>
            <td>{{h.firstName}} {{h.lastName}}</td>
            <td>{{h.frequency}}</td>
            <td>{{h.band}}</td>
            <td>{{h.mode}}</td>
            <td>{{h.power}}</td>
            <td>{{h.state}}</td>
            <td>{{h.postalCode}}</td>
            <td>{{h.dateAndTime | date:'shortDate'}}</td>
            <td>{{h.dateAndTime | date:'mediumTime'}}</td>
            <td>{{h.timeOff | date:'mediumTime'}}</td>
            <td>{{h.rsTsent}}</td>
            <td>{{h.rsTrec}}</td>
            <td>{{h.fccId}}</td>
            <td>{{h.comments}}</td>
            <td id="actiondata"><a routerLink="/hamlog/details/{{h.id}}">Details</a> | 
            <a routerLink="/hamlog/update/{{h.id}}">Update</a></td>
            <td></td>
        </tr>
    </tbody>
    <tbody *ngIf="!searching">
        <tr *ngFor="let h of searchHamLogs | sorthamlog:sortColumn:sortAsc">
            <td>{{h.id}}</td>
            <td>{{h.callsign}}</td>
            <td>{{h.firstName}} {{h.lastName}}</td>
            <td>{{h.frequency}}</td>
            <td>{{h.band}}</td>
            <td>{{h.mode}}</td>
            <td>{{h.power}}</td>
            <td>{{h.state}}</td>
            <td>{{h.postalCode}}</td>
            <td>{{h.dateAndTime | date:'shortDate'}}</td>
            <td>{{h.dateAndTime | date:'mediumTime'}}</td>
            <td>{{h.timeOff | date:'mediumTime'}}</td>
            <td>{{h.rsTsent}}</td>
            <td>{{h.rsTrec}}</td>
            <td>{{h.fccId}}</td>
            <td>{{h.comments}}</td>
            <td id="actiondata"><a routerLink="/hamlog/details/{{h.id}}">Details</a> | 
            <a routerLink="/hamlog/update.{{h.id}}">Update</a></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>
<table class="newlogtable table table-sm table-striped">
    <thead>
        <tr>
            <th>Call</th>
            <th>Frequency</th>
            <th>Band</th>
            <th>Mode</th>
            <th>Power</th>
            <th>Sent</th>
            <th>Rec</th>
            <th>Name</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input id="callsign" [(ngModel)]="newlog.callsign" (blur)="search()" (focus)="clear()"></td>
            <td><input [(ngModel)]="enteredfreq" (ngModelChange)="freqChange()" (blur)="freqBlur()"></td>
            <td><input [(ngModel)]="newlog.band"></td>
            <td><select [(ngModel)]="newlog.mode">
                <option>LSB</option>
                <option>USB</option>
                <option>AM</option>
                <option>CW</option>
                <option>DIG</option>
            </select></td>
            <td><input [(ngModel)]="newlog.power"></td>
            <td><input [(ngModel)]="newlog.rsTsent"></td>
            <td><input [(ngModel)]="newlog.rsTrec"></td>
            <td><input [(ngModel)]="newlog.fullName"></td>
            
        </tr>
    </tbody>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Country</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input id="firstname" [(ngModel)]="newlog.firstName"></td>
            <td><input [(ngModel)]="newlog.address"></td>
            <td><input [(ngModel)]="newlog.city"></td>
            <td><input [(ngModel)]="newlog.state" size="3"></td>
            <td><input [(ngModel)]="newlog.postalCode"></td>
            <td><input [(ngModel)]="newlog.country"></td>
            <td><input [ngModel]="newlog.dateAndTime | date:'medium'"></td>
        </tr>
    </tbody>
</table>
<div id="save">
<button (click)="search()" class="btn btn-primary btn-sm">Search</button>
<button (click)="save()" class="btn btn-success btn-sm">Save</button>
<span id="WARN">{{warnMessage}} {{warnMessageDesc}}</span>
</div>