
<app-menu></app-menu>
<header>
    <span id="pageTitle">{{pageTitle}}</span>
</header>
<div class="privious">
<table *ngIf="user" class="table table-striped table-sm">
    <thead class="prithead">
        
        <tr><th class="tablename">Privious Logs</th></tr>
        <tr>
            <th>Callsign</th>
            <th>Name</th>
            <th>Frequency</th>
            <th>Mode</th>
            <th>Power</th>
            <th>State</th>
            <th>Zip</th>
            <th>Action</th>
        </tr>
    </thead>


    
    <tbody>
        <tr *ngFor="let h of hamlogs">
            <td>{{h.callsign}}</td>
            <td>{{h.firstName}} {{h.lastName}}</td>
            <td>{{h.frequency}}</td>
            <td>{{h.mode}}</td>
            <td>{{h.power}}</td>
            <td>{{h.state}}</td>
            <td>{{h.postalCode}}</td>
            <td><a class="btn btn-primary btn-sm">Details</a> |</td>
            <td><a class="btn btn-warning btn-sm">Update</a></td>
        </tr>
    </tbody>
</table>
</div>
<table class="newlogtable table table-sm table-striped">
    <thead>
        <tr>
            <th>Call</th>
            <th>Frequency</th>
            <th>Band</th>
            <th>Mode</th>
            <th>Power</th>
            <th>Sent</th>
            <th>Rec</th>
            <th>Name</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input [(ngModel)]="newlog.callsign" (blur)="search()" (focus)="clear()"></td>
            <td><input [(ngModel)]="newlog.frequency"></td>
            <td><input [(ngModel)]="newlog.band"></td>
            <td><input [(ngModel)]="newlog.mode"></td>
            <td><input [(ngModel)]="newlog.power"></td>
            <td><input [(ngModel)]="newlog.rsTsent"></td>
            <td><input [(ngModel)]="newlog.rsTrec"></td>
            <td><input [(ngModel)]="newlog.fullName"></td>
            
        </tr>
    </tbody>
    <thead>
        <tr>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Country</th>
            <th>Date</th>
            <th>First Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input [(ngModel)]="newlog.address"></td>
            <td><input [(ngModel)]="newlog.city"></td>
            <td><input [(ngModel)]="newlog.state"></td>
            <td><input [(ngModel)]="newlog.postalCode"></td>
            <td><input [(ngModel)]="newlog.country"></td>
            <td><input [(ngModel)]="newlog.dateAndTime" readonly></td>
            <td><input [(ngModel)]="newlog.firstName"></td>
        </tr>
    </tbody>
</table>
<button (click)="search()" class="btn btn-primary btn-sm">Search</button>
<button (click)="save()" class="btn btn-success btn-sm">Save</button>