
<app-menu></app-menu>
<div class="parentcon">
<header>
    <span id="pageTitle">{{pageTitle}}</span>
    <span id="searchResCount" *ngIf="!searching">{{searchResMessage}}</span>
    
</header>
<select id="quantity" [(ngModel)]="logsToShow" (ngModelChange)="refresh()" *ngIf="searching">
    <option>10</option>
    <option>25</option>
    <option>50</option>
    <option>100</option>
    <option>200</option>
    <option value="50000">All</option>  
</select>
<span id="recordCount" *ngIf="searching && user">Rec Count: {{user.recordCount}}
</span>
<div class="tableFixHead1">
<table *ngIf="user" class="table-fixed">
    <thead>
        
        
        <tr>
            
            <th>Callsign</th>
            <th>Name</th>
            <th *ngIf="user.showNetColumn">Net</th>
            <th>Frequency</th>
            <th>Band</th>
            <th>Mode</th>
            <th>Power</th>
            <th>State</th>
            <th>Zip</th>
            <th><a (click)="selectColumn('dateAndTime')" class=" btn btn-link">Date</a></th>
            <th>T-On</th>
            <th>T-Off</th>
            <th>RSTs</th>
            <th>RSTr</th>
            
            
            <th id="actionhead">Action</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody *ngIf="searching">
        <tr *ngFor="let h of hamlogs | sorthamlog:sortColumn:sortAsc">
            
            <td>{{h.callsign}}</td>
            <td>{{h.fullName}}</td>
            <td *ngIf="user.showNetColumn">{{h.qth}}</td>
            <td>{{h.frequency}}</td>
            <td>{{h.band}}</td>
            <td>{{h.mode}}</td>
            <td>{{h.power}}</td>
            <td>{{h.state}}</td>
            <td>{{h.postalCode}}</td>
            <td>{{h.dateAndTime | date:'shortDate'}}</td>
            <td>{{h.dateAndTime | date:'mediumTime'}}</td>
            <td>{{h.timeOff | date:'mediumTime'}}</td>
            <td>{{h.rsTsent}}</td>
            <td>{{h.rsTrec}}</td>
            
           
            <td id="actiondata"><a routerLink="/hamlog/details/{{h.id}}">Details</a> | 
            <a routerLink="/hamlog/update/{{h.id}}">Update</a></td>
            <td></td>
        </tr>
    </tbody>
    <tbody *ngIf="!searching">
        <tr *ngFor="let h of searchHamLogs | sorthamlog:sortColumn:sortAsc">
            
            <td>{{h.callsign}}</td>
            <td>{{h.fullName}}</td>
            <td *ngIf="user.showNetColumn">{{h.qth}}</td>
            <td>{{h.frequency}}</td>
            <td>{{h.band}}</td>
            <td>{{h.mode}}</td>
            <td>{{h.power}}</td>
            <td>{{h.state}}</td>
            <td>{{h.postalCode}}</td>
            <td>{{h.dateAndTime | date:'shortDate'}}</td>
            <td>{{h.dateAndTime | date:'mediumTime'}}</td>
            <td>{{h.timeOff | date:'mediumTime'}}</td>
            <td>{{h.rsTsent}}</td>
            <td>{{h.rsTrec}}</td>
    
      
            <td id="actiondata"><a routerLink="/hamlog/details/{{h.id}}">Details</a> | 
            <a routerLink="/hamlog/update/{{h.id}}">Update</a></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>
<table class="newlogtable table table-sm table-striped">
    <thead>
        <tr>
            <th>Call</th>
            <th>Frequency</th>
            <th>Band</th>
            <th>Mode</th>
            <th>Power</th>
            <th>Sent</th>
            <th></th>
         
            <th>Date</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input [(ngModel)]="newlog.callsign" (blur)="search()" (focus)="clear()"></td>
            <td><input [(ngModel)]="enteredfreq" (ngModelChange)="freqChange()" (blur)="freqBlur()"></td>
            <td><input [(ngModel)]="newlog.band" size="3"></td>
            <td><select [(ngModel)]="newlog.mode">
                <option>LSB</option>
                <option>USB</option>
                <option>AM</option>
                <option>CW</option>
                <option>DIG</option>
            </select></td>
            <td><input [(ngModel)]="newlog.power"></td>
            <td><input [(ngModel)]="newlog.rsTsent" size="3"></td>
            <td><input type="checkbox" [(ngModel)]="newlog.rstSentbool" size="0"></td>
  
            <td><input [ngModel]="newlog.dateAndTime | date:'medium'"></td>
            
        </tr>
    </tbody>
    <thead>
        <tr>
            
            <th>Name</th>
 
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Country</th>
            <th>Rec</th>
            <th></th>
            <th>Net / Contest</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            
            <td><input [(ngModel)]="newlog.fullName"></td>

            <td><input [(ngModel)]="newlog.city"></td>
            <td><input [(ngModel)]="newlog.state" size="3"></td>
            <td><input [(ngModel)]="newlog.postalCode" size="6"></td>
            <td><input [(ngModel)]="newlog.country"></td>
            <td><input [(ngModel)]="newlog.rsTrec" size="3"></td>
            <td><input type="checkbox" [(ngModel)]="newlog.rstRecbool" size="0"></td>
            <td><input [(ngModel)]="newlog.qth"></td>
        </tr>
    </tbody>
</table>
<table>
    <tbody>
        <tr>
            <th>Comments</th><td><textarea [(ngModel)]="newlog.comments" rows="3" cols="50"></textarea></td>
        </tr>
    </tbody>
</table>
<div id="save">
<button (click)="search()" id="searchbtn" class="btn btn-primary btn-sm">Search</button>
<button (click)="save()" class="btn btn-success btn-sm">Log Contact</button>
<span id="WARN">{{warnMessage}} {{warnMessageDesc}}</span>
<span id="success" *ngIf="logpost">{{successMessage}}</span>
</div>
<app-dxspot *ngIf="showDxSpot && user"></app-dxspot>

</div>