/* You can add global styles to this file, and also import other style files */
input {
    border-radius: 5px;
}
select {
    border-radius: 5px;
}
.btn {
    margin-left: 5px;
    margin-right: 5px;
}
table {
    margin-left: 10px;
    margin-right: 10px;
    
}
header {
    margin-left: 10px;
    margin-right:10px;
}
#pageTitle {
    font-size: 1.5em;
    font-weight: bold;
}
.userDefinedBackgroundColorWhite {
    background-color: white;
}
.userDefinedBackgroundColorAqua {
    background-color: aqua;
}
.userDefinedFontsize12 {
    font-size: 1.2em;
}
.userDefinedFontsize18 {
    font-size: 1.8em;
}